<div class="container">

    <div class="card">
        <input type="text" placeholder="Search tasks..." class="text-input" [(ngModel)]="searchQuery"
            (input)="search(searchQuery)" />

        <span>
            Status
        </span>
        <select class="select-input" [(ngModel)]="selectedStatus" (change)="filterStatus(selectedStatus)">
            <option *ngFor="let s of statuses" [value]="s">{{ s }}</option>
        </select>
        <span>
            Category
        </span>
        <select class="select-input" [(ngModel)]="selectedCategory" (change)="filterCategory(selectedCategory)">

            <option *ngFor="let c of categories()" [value]="c.id">{{ c.name }}</option>
        </select>

        <button class="button" (click)="clearFilters()">Clear Filters</button>
    </div>

    <div class="card">

        <div class="grid-table header">
            <div (click)="sort('title')" class="sortable">
                Title <span>{{ getSortIcon('title') }}</span>
            </div>
            <div (click)="sort('description')" class="sortable">
                Description <span>{{ getSortIcon('description') }}</span>
            </div>
            <div (click)="sort('status')" class="sortable">
                Status <span>{{ getSortIcon('status') }}</span>
            </div>
            <div class="sortable" (click)="sort('categoryName')">

                Category <span>{{ getSortIcon('categoryName') }}</span>
            </div>
            <div>Actions</div>
        </div>

        <hr class="division" />

        <div *ngFor="let task of tasks()" class="grid-table row">
            <div>{{ task.title }}</div>
            <div>{{ task.description }}</div>
            <div>{{ task.status }}</div>
            <div>{{ task.categoryName }}</div>
            <div class="actions">
                <button class="button" (click)="editTask(task)">Edit</button>
                <button class="button" (click)="deleteTask(task.id)">Delete</button>
            </div>
        </div>
    </div>
</div>