<nav class="sidebar">
    <h3 class="sidebar-title">Task Manager</h3>

    <a routerLink="/tasks" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Task List</a>
    <a routerLink="/tasks/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add New Task</a>
    <a routerLink="/categories/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add New
        Category</a>
</nav>

<!-- <nav class="sidebar">
    <h3 class="sidebar-title">Task Manager</h3>

    <a routerLink="/tasks" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Task List
    </a>

    <a routerLink="/tasks/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Add New Task
    </a>

    <a routerLink="/categories/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Add New Category
    </a>

    <button class="button" (click)="auth.logout()">Logout</button>

</nav> -->